# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
node_modules/.package-lock.json
node_modules/.bin/glob
node_modules/.bin/node-which
node_modules/@isaacs/cliui/index.mjs
node_modules/@isaacs/cliui/LICENSE.txt
node_modules/@isaacs/cliui/package.json
node_modules/@isaacs/cliui/README.md
node_modules/@isaacs/cliui/build/index.cjs
node_modules/@isaacs/cliui/build/index.d.cts
node_modules/@isaacs/cliui/build/lib/index.js
node_modules/@pkgjs/parseargs/.editorconfig
node_modules/@pkgjs/parseargs/CHANGELOG.md
node_modules/@pkgjs/parseargs/index.js
node_modules/@pkgjs/parseargs/LICENSE
node_modules/@pkgjs/parseargs/package.json
node_modules/@pkgjs/parseargs/README.md
node_modules/@pkgjs/parseargs/utils.js
node_modules/@pkgjs/parseargs/examples/is-default-value.js
node_modules/@pkgjs/parseargs/examples/limit-long-syntax.js
node_modules/@pkgjs/parseargs/examples/negate.js
node_modules/@pkgjs/parseargs/examples/no-repeated-options.js
node_modules/@pkgjs/parseargs/examples/ordered-options.mjs
node_modules/@pkgjs/parseargs/examples/simple-hard-coded.js
node_modules/@pkgjs/parseargs/internal/errors.js
node_modules/@pkgjs/parseargs/internal/primordials.js
node_modules/@pkgjs/parseargs/internal/util.js
node_modules/@pkgjs/parseargs/internal/validators.js
node_modules/adm-zip/adm-zip.js
node_modules/adm-zip/LICENSE
node_modules/adm-zip/package.json
node_modules/adm-zip/README.md
node_modules/adm-zip/zipEntry.js
node_modules/adm-zip/zipFile.js
node_modules/adm-zip/headers/entryHeader.js
node_modules/adm-zip/headers/index.js
node_modules/adm-zip/headers/mainHeader.js
node_modules/adm-zip/methods/deflater.js
node_modules/adm-zip/methods/index.js
node_modules/adm-zip/methods/inflater.js
node_modules/adm-zip/methods/zipcrypto.js
node_modules/adm-zip/util/constants.js
node_modules/adm-zip/util/errors.js
node_modules/adm-zip/util/fattr.js
node_modules/adm-zip/util/fileSystem.js
node_modules/adm-zip/util/index.js
node_modules/adm-zip/util/utils.js
node_modules/aggregate-error/index.d.ts
node_modules/aggregate-error/index.js
node_modules/aggregate-error/license
node_modules/aggregate-error/package.json
node_modules/aggregate-error/readme.md
node_modules/ansi-regex/index.d.ts
node_modules/ansi-regex/index.js
node_modules/ansi-regex/license
node_modules/ansi-regex/package.json
node_modules/ansi-regex/readme.md
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/balanced-match/index.js
node_modules/balanced-match/LICENSE.md
node_modules/balanced-match/package.json
node_modules/balanced-match/README.md
node_modules/balanced-match/.github/FUNDING.yml
node_modules/brace-expansion/index.js
node_modules/brace-expansion/LICENSE
node_modules/brace-expansion/package.json
node_modules/brace-expansion/README.md
node_modules/brace-expansion/.github/FUNDING.yml
node_modules/chalk/index.js
node_modules/chalk/index.js.flow
node_modules/chalk/license
node_modules/chalk/package.json
node_modules/chalk/readme.md
node_modules/chalk/templates.js
node_modules/chalk/types/index.d.ts
node_modules/clean-stack/index.d.ts
node_modules/clean-stack/index.js
node_modules/clean-stack/license
node_modules/clean-stack/package.json
node_modules/clean-stack/readme.md
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/LICENSE
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/.eslintrc.json
node_modules/color-name/.npmignore
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/color-name/test.js
node_modules/cross-spawn/CHANGELOG.md
node_modules/cross-spawn/index.js
node_modules/cross-spawn/LICENSE
node_modules/cross-spawn/package.json
node_modules/cross-spawn/README.md
node_modules/cross-spawn/lib/enoent.js
node_modules/cross-spawn/lib/parse.js
node_modules/cross-spawn/lib/util/escape.js
node_modules/cross-spawn/lib/util/readShebang.js
node_modules/cross-spawn/lib/util/resolveCommand.js
node_modules/eastasianwidth/eastasianwidth.js
node_modules/eastasianwidth/package.json
node_modules/eastasianwidth/README.md
node_modules/emoji-regex/index.d.ts
node_modules/emoji-regex/index.js
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/package.json
node_modules/emoji-regex/README.md
node_modules/emoji-regex/RGI_Emoji.d.ts
node_modules/emoji-regex/RGI_Emoji.js
node_modules/emoji-regex/text.d.ts
node_modules/emoji-regex/text.js
node_modules/emoji-regex/es2015/index.d.ts
node_modules/emoji-regex/es2015/index.js
node_modules/emoji-regex/es2015/RGI_Emoji.d.ts
node_modules/emoji-regex/es2015/RGI_Emoji.js
node_modules/emoji-regex/es2015/text.d.ts
node_modules/emoji-regex/es2015/text.js
node_modules/escape-string-regexp/index.js
node_modules/escape-string-regexp/license
node_modules/escape-string-regexp/package.json
node_modules/escape-string-regexp/readme.md
node_modules/foreground-child/LICENSE
node_modules/foreground-child/package.json
node_modules/foreground-child/README.md
node_modules/foreground-child/dist/cjs/all-signals.d.ts
node_modules/foreground-child/dist/cjs/all-signals.d.ts.map
node_modules/foreground-child/dist/cjs/all-signals.js
node_modules/foreground-child/dist/cjs/all-signals.js.map
node_modules/foreground-child/dist/cjs/index.d.ts
node_modules/foreground-child/dist/cjs/index.d.ts.map
node_modules/foreground-child/dist/cjs/index.js
node_modules/foreground-child/dist/cjs/index.js.map
node_modules/foreground-child/dist/cjs/package.json
node_modules/foreground-child/dist/cjs/watchdog.d.ts
node_modules/foreground-child/dist/cjs/watchdog.d.ts.map
node_modules/foreground-child/dist/cjs/watchdog.js
node_modules/foreground-child/dist/cjs/watchdog.js.map
node_modules/foreground-child/dist/mjs/all-signals.d.ts
node_modules/foreground-child/dist/mjs/all-signals.d.ts.map
node_modules/foreground-child/dist/mjs/all-signals.js
node_modules/foreground-child/dist/mjs/all-signals.js.map
node_modules/foreground-child/dist/mjs/index.d.ts
node_modules/foreground-child/dist/mjs/index.d.ts.map
node_modules/foreground-child/dist/mjs/index.js
node_modules/foreground-child/dist/mjs/index.js.map
node_modules/foreground-child/dist/mjs/package.json
node_modules/foreground-child/dist/mjs/watchdog.d.ts
node_modules/foreground-child/dist/mjs/watchdog.d.ts.map
node_modules/foreground-child/dist/mjs/watchdog.js
node_modules/foreground-child/dist/mjs/watchdog.js.map
node_modules/glob/LICENSE
node_modules/glob/package.json
node_modules/glob/README.md
node_modules/glob/dist/commonjs/glob.d.ts
node_modules/glob/dist/commonjs/glob.d.ts.map
node_modules/glob/dist/commonjs/glob.js
node_modules/glob/dist/commonjs/glob.js.map
node_modules/glob/dist/commonjs/has-magic.d.ts
node_modules/glob/dist/commonjs/has-magic.d.ts.map
node_modules/glob/dist/commonjs/has-magic.js
node_modules/glob/dist/commonjs/has-magic.js.map
node_modules/glob/dist/commonjs/ignore.d.ts
node_modules/glob/dist/commonjs/ignore.d.ts.map
node_modules/glob/dist/commonjs/ignore.js
node_modules/glob/dist/commonjs/ignore.js.map
node_modules/glob/dist/commonjs/index.d.ts
node_modules/glob/dist/commonjs/index.d.ts.map
node_modules/glob/dist/commonjs/index.js
node_modules/glob/dist/commonjs/index.js.map
node_modules/glob/dist/commonjs/package.json
node_modules/glob/dist/commonjs/pattern.d.ts
node_modules/glob/dist/commonjs/pattern.d.ts.map
node_modules/glob/dist/commonjs/pattern.js
node_modules/glob/dist/commonjs/pattern.js.map
node_modules/glob/dist/commonjs/processor.d.ts
node_modules/glob/dist/commonjs/processor.d.ts.map
node_modules/glob/dist/commonjs/processor.js
node_modules/glob/dist/commonjs/processor.js.map
node_modules/glob/dist/commonjs/walker.d.ts
node_modules/glob/dist/commonjs/walker.d.ts.map
node_modules/glob/dist/commonjs/walker.js
node_modules/glob/dist/commonjs/walker.js.map
node_modules/glob/dist/esm/bin.d.mts
node_modules/glob/dist/esm/bin.d.mts.map
node_modules/glob/dist/esm/bin.mjs
node_modules/glob/dist/esm/bin.mjs.map
node_modules/glob/dist/esm/glob.d.ts
node_modules/glob/dist/esm/glob.d.ts.map
node_modules/glob/dist/esm/glob.js
node_modules/glob/dist/esm/glob.js.map
node_modules/glob/dist/esm/has-magic.d.ts
node_modules/glob/dist/esm/has-magic.d.ts.map
node_modules/glob/dist/esm/has-magic.js
node_modules/glob/dist/esm/has-magic.js.map
node_modules/glob/dist/esm/ignore.d.ts
node_modules/glob/dist/esm/ignore.d.ts.map
node_modules/glob/dist/esm/ignore.js
node_modules/glob/dist/esm/ignore.js.map
node_modules/glob/dist/esm/index.d.ts
node_modules/glob/dist/esm/index.d.ts.map
node_modules/glob/dist/esm/index.js
node_modules/glob/dist/esm/index.js.map
node_modules/glob/dist/esm/package.json
node_modules/glob/dist/esm/pattern.d.ts
node_modules/glob/dist/esm/pattern.d.ts.map
node_modules/glob/dist/esm/pattern.js
node_modules/glob/dist/esm/pattern.js.map
node_modules/glob/dist/esm/processor.d.ts
node_modules/glob/dist/esm/processor.d.ts.map
node_modules/glob/dist/esm/processor.js
node_modules/glob/dist/esm/processor.js.map
node_modules/glob/dist/esm/walker.d.ts
node_modules/glob/dist/esm/walker.d.ts.map
node_modules/glob/dist/esm/walker.js
node_modules/glob/dist/esm/walker.js.map
node_modules/has-flag/index.js
node_modules/has-flag/license
node_modules/has-flag/package.json
node_modules/has-flag/readme.md
node_modules/indent-string/index.d.ts
node_modules/indent-string/index.js
node_modules/indent-string/license
node_modules/indent-string/package.json
node_modules/indent-string/readme.md
node_modules/is-fullwidth-code-point/index.d.ts
node_modules/is-fullwidth-code-point/index.js
node_modules/is-fullwidth-code-point/license
node_modules/is-fullwidth-code-point/package.json
node_modules/is-fullwidth-code-point/readme.md
node_modules/isexe/.npmignore
node_modules/isexe/index.js
node_modules/isexe/LICENSE
node_modules/isexe/mode.js
node_modules/isexe/package.json
node_modules/isexe/README.md
node_modules/isexe/windows.js
node_modules/isexe/test/basic.js
node_modules/jackspeak/LICENSE.md
node_modules/jackspeak/package.json
node_modules/jackspeak/README.md
node_modules/jackspeak/dist/commonjs/index.d.ts
node_modules/jackspeak/dist/commonjs/index.d.ts.map
node_modules/jackspeak/dist/commonjs/index.js
node_modules/jackspeak/dist/commonjs/index.js.map
node_modules/jackspeak/dist/commonjs/package.json
node_modules/jackspeak/dist/commonjs/parse-args-cjs.cjs.map
node_modules/jackspeak/dist/commonjs/parse-args-cjs.d.cts.map
node_modules/jackspeak/dist/commonjs/parse-args.d.ts
node_modules/jackspeak/dist/commonjs/parse-args.d.ts.map
node_modules/jackspeak/dist/commonjs/parse-args.js
node_modules/jackspeak/dist/commonjs/parse-args.js.map
node_modules/jackspeak/dist/esm/index.d.ts
node_modules/jackspeak/dist/esm/index.d.ts.map
node_modules/jackspeak/dist/esm/index.js
node_modules/jackspeak/dist/esm/index.js.map
node_modules/jackspeak/dist/esm/package.json
node_modules/jackspeak/dist/esm/parse-args.d.ts
node_modules/jackspeak/dist/esm/parse-args.d.ts.map
node_modules/jackspeak/dist/esm/parse-args.js
node_modules/jackspeak/dist/esm/parse-args.js.map
node_modules/lodash.merge/index.js
node_modules/lodash.merge/LICENSE
node_modules/lodash.merge/package.json
node_modules/lodash.merge/README.md
node_modules/lru-cache/LICENSE
node_modules/lru-cache/package.json
node_modules/lru-cache/README.md
node_modules/lru-cache/dist/commonjs/index.d.ts
node_modules/lru-cache/dist/commonjs/index.d.ts.map
node_modules/lru-cache/dist/commonjs/index.js
node_modules/lru-cache/dist/commonjs/index.js.map
node_modules/lru-cache/dist/commonjs/index.min.js
node_modules/lru-cache/dist/commonjs/index.min.js.map
node_modules/lru-cache/dist/commonjs/package.json
node_modules/lru-cache/dist/esm/index.d.ts
node_modules/lru-cache/dist/esm/index.d.ts.map
node_modules/lru-cache/dist/esm/index.js
node_modules/lru-cache/dist/esm/index.js.map
node_modules/lru-cache/dist/esm/index.min.js
node_modules/lru-cache/dist/esm/index.min.js.map
node_modules/lru-cache/dist/esm/package.json
node_modules/minimatch/LICENSE
node_modules/minimatch/package.json
node_modules/minimatch/README.md
node_modules/minimatch/dist/commonjs/assert-valid-pattern.d.ts
node_modules/minimatch/dist/commonjs/assert-valid-pattern.d.ts.map
node_modules/minimatch/dist/commonjs/assert-valid-pattern.js
node_modules/minimatch/dist/commonjs/assert-valid-pattern.js.map
node_modules/minimatch/dist/commonjs/ast.d.ts
node_modules/minimatch/dist/commonjs/ast.d.ts.map
node_modules/minimatch/dist/commonjs/ast.js
node_modules/minimatch/dist/commonjs/ast.js.map
node_modules/minimatch/dist/commonjs/brace-expressions.d.ts
node_modules/minimatch/dist/commonjs/brace-expressions.d.ts.map
node_modules/minimatch/dist/commonjs/brace-expressions.js
node_modules/minimatch/dist/commonjs/brace-expressions.js.map
node_modules/minimatch/dist/commonjs/escape.d.ts
node_modules/minimatch/dist/commonjs/escape.d.ts.map
node_modules/minimatch/dist/commonjs/escape.js
node_modules/minimatch/dist/commonjs/escape.js.map
node_modules/minimatch/dist/commonjs/index.d.ts
node_modules/minimatch/dist/commonjs/index.d.ts.map
node_modules/minimatch/dist/commonjs/index.js
node_modules/minimatch/dist/commonjs/index.js.map
node_modules/minimatch/dist/commonjs/package.json
node_modules/minimatch/dist/commonjs/unescape.d.ts
node_modules/minimatch/dist/commonjs/unescape.d.ts.map
node_modules/minimatch/dist/commonjs/unescape.js
node_modules/minimatch/dist/commonjs/unescape.js.map
node_modules/minimatch/dist/esm/assert-valid-pattern.d.ts
node_modules/minimatch/dist/esm/assert-valid-pattern.d.ts.map
node_modules/minimatch/dist/esm/assert-valid-pattern.js
node_modules/minimatch/dist/esm/assert-valid-pattern.js.map
node_modules/minimatch/dist/esm/ast.d.ts
node_modules/minimatch/dist/esm/ast.d.ts.map
node_modules/minimatch/dist/esm/ast.js
node_modules/minimatch/dist/esm/ast.js.map
node_modules/minimatch/dist/esm/brace-expressions.d.ts
node_modules/minimatch/dist/esm/brace-expressions.d.ts.map
node_modules/minimatch/dist/esm/brace-expressions.js
node_modules/minimatch/dist/esm/brace-expressions.js.map
node_modules/minimatch/dist/esm/escape.d.ts
node_modules/minimatch/dist/esm/escape.d.ts.map
node_modules/minimatch/dist/esm/escape.js
node_modules/minimatch/dist/esm/escape.js.map
node_modules/minimatch/dist/esm/index.d.ts
node_modules/minimatch/dist/esm/index.d.ts.map
node_modules/minimatch/dist/esm/index.js
node_modules/minimatch/dist/esm/index.js.map
node_modules/minimatch/dist/esm/package.json
node_modules/minimatch/dist/esm/unescape.d.ts
node_modules/minimatch/dist/esm/unescape.d.ts.map
node_modules/minimatch/dist/esm/unescape.js
node_modules/minimatch/dist/esm/unescape.js.map
node_modules/minipass/LICENSE
node_modules/minipass/package.json
node_modules/minipass/README.md
node_modules/minipass/dist/commonjs/index.d.ts
node_modules/minipass/dist/commonjs/index.d.ts.map
node_modules/minipass/dist/commonjs/index.js
node_modules/minipass/dist/commonjs/index.js.map
node_modules/minipass/dist/commonjs/package.json
node_modules/minipass/dist/esm/index.d.ts
node_modules/minipass/dist/esm/index.d.ts.map
node_modules/minipass/dist/esm/index.js
node_modules/minipass/dist/esm/index.js.map
node_modules/minipass/dist/esm/package.json
node_modules/p-map/index.d.ts
node_modules/p-map/index.js
node_modules/p-map/license
node_modules/p-map/package.json
node_modules/p-map/readme.md
node_modules/path-key/index.d.ts
node_modules/path-key/index.js
node_modules/path-key/license
node_modules/path-key/package.json
node_modules/path-key/readme.md
node_modules/path-scurry/LICENSE.md
node_modules/path-scurry/package.json
node_modules/path-scurry/README.md
node_modules/path-scurry/dist/commonjs/index.d.ts
node_modules/path-scurry/dist/commonjs/index.d.ts.map
node_modules/path-scurry/dist/commonjs/index.js
node_modules/path-scurry/dist/commonjs/index.js.map
node_modules/path-scurry/dist/commonjs/package.json
node_modules/path-scurry/dist/esm/index.d.ts
node_modules/path-scurry/dist/esm/index.d.ts.map
node_modules/path-scurry/dist/esm/index.js
node_modules/path-scurry/dist/esm/index.js.map
node_modules/path-scurry/dist/esm/package.json
node_modules/pretty-hrtime/.jshintignore
node_modules/pretty-hrtime/.npmignore
node_modules/pretty-hrtime/index.js
node_modules/pretty-hrtime/LICENSE
node_modules/pretty-hrtime/package.json
node_modules/pretty-hrtime/README.md
node_modules/serverless-go-plugin/index.js
node_modules/serverless-go-plugin/index.test.js
node_modules/serverless-go-plugin/LICENSE
node_modules/serverless-go-plugin/package.json
node_modules/serverless-go-plugin/README.md
node_modules/serverless-go-plugin/RELEASING.md
node_modules/serverless-go-plugin/.nyc_output/1602a4fc-a7cb-4d73-9047-c8a71dd866f0.json
node_modules/serverless-go-plugin/.nyc_output/processinfo/1602a4fc-a7cb-4d73-9047-c8a71dd866f0.json
node_modules/serverless-go-plugin/.nyc_output/processinfo/index.json
node_modules/shebang-command/index.js
node_modules/shebang-command/license
node_modules/shebang-command/package.json
node_modules/shebang-command/readme.md
node_modules/shebang-regex/index.d.ts
node_modules/shebang-regex/index.js
node_modules/shebang-regex/license
node_modules/shebang-regex/package.json
node_modules/shebang-regex/readme.md
node_modules/signal-exit/LICENSE.txt
node_modules/signal-exit/package.json
node_modules/signal-exit/README.md
node_modules/signal-exit/dist/cjs/browser.d.ts
node_modules/signal-exit/dist/cjs/browser.d.ts.map
node_modules/signal-exit/dist/cjs/browser.js
node_modules/signal-exit/dist/cjs/browser.js.map
node_modules/signal-exit/dist/cjs/index.d.ts
node_modules/signal-exit/dist/cjs/index.d.ts.map
node_modules/signal-exit/dist/cjs/index.js
node_modules/signal-exit/dist/cjs/index.js.map
node_modules/signal-exit/dist/cjs/package.json
node_modules/signal-exit/dist/cjs/signals.d.ts
node_modules/signal-exit/dist/cjs/signals.d.ts.map
node_modules/signal-exit/dist/cjs/signals.js
node_modules/signal-exit/dist/cjs/signals.js.map
node_modules/signal-exit/dist/mjs/browser.d.ts
node_modules/signal-exit/dist/mjs/browser.d.ts.map
node_modules/signal-exit/dist/mjs/browser.js
node_modules/signal-exit/dist/mjs/browser.js.map
node_modules/signal-exit/dist/mjs/index.d.ts
node_modules/signal-exit/dist/mjs/index.d.ts.map
node_modules/signal-exit/dist/mjs/index.js
node_modules/signal-exit/dist/mjs/index.js.map
node_modules/signal-exit/dist/mjs/package.json
node_modules/signal-exit/dist/mjs/signals.d.ts
node_modules/signal-exit/dist/mjs/signals.d.ts.map
node_modules/signal-exit/dist/mjs/signals.js
node_modules/signal-exit/dist/mjs/signals.js.map
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/license
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/string-width-cjs/index.d.ts
node_modules/string-width-cjs/index.js
node_modules/string-width-cjs/license
node_modules/string-width-cjs/package.json
node_modules/string-width-cjs/readme.md
node_modules/string-width-cjs/node_modules/ansi-regex/index.d.ts
node_modules/string-width-cjs/node_modules/ansi-regex/index.js
node_modules/string-width-cjs/node_modules/ansi-regex/license
node_modules/string-width-cjs/node_modules/ansi-regex/package.json
node_modules/string-width-cjs/node_modules/ansi-regex/readme.md
node_modules/string-width-cjs/node_modules/emoji-regex/index.d.ts
node_modules/string-width-cjs/node_modules/emoji-regex/index.js
node_modules/string-width-cjs/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/string-width-cjs/node_modules/emoji-regex/package.json
node_modules/string-width-cjs/node_modules/emoji-regex/README.md
node_modules/string-width-cjs/node_modules/emoji-regex/text.js
node_modules/string-width-cjs/node_modules/emoji-regex/es2015/index.js
node_modules/string-width-cjs/node_modules/emoji-regex/es2015/text.js
node_modules/string-width-cjs/node_modules/strip-ansi/index.d.ts
node_modules/string-width-cjs/node_modules/strip-ansi/index.js
node_modules/string-width-cjs/node_modules/strip-ansi/license
node_modules/string-width-cjs/node_modules/strip-ansi/package.json
node_modules/string-width-cjs/node_modules/strip-ansi/readme.md
node_modules/strip-ansi/index.d.ts
node_modules/strip-ansi/index.js
node_modules/strip-ansi/license
node_modules/strip-ansi/package.json
node_modules/strip-ansi/readme.md
node_modules/strip-ansi-cjs/index.d.ts
node_modules/strip-ansi-cjs/index.js
node_modules/strip-ansi-cjs/license
node_modules/strip-ansi-cjs/package.json
node_modules/strip-ansi-cjs/readme.md
node_modules/strip-ansi-cjs/node_modules/ansi-regex/index.d.ts
node_modules/strip-ansi-cjs/node_modules/ansi-regex/index.js
node_modules/strip-ansi-cjs/node_modules/ansi-regex/license
node_modules/strip-ansi-cjs/node_modules/ansi-regex/package.json
node_modules/strip-ansi-cjs/node_modules/ansi-regex/readme.md
node_modules/supports-color/browser.js
node_modules/supports-color/index.js
node_modules/supports-color/license
node_modules/supports-color/package.json
node_modules/supports-color/readme.md
node_modules/which/CHANGELOG.md
node_modules/which/LICENSE
node_modules/which/package.json
node_modules/which/README.md
node_modules/which/which.js
node_modules/wrap-ansi/index.d.ts
node_modules/wrap-ansi/index.js
node_modules/wrap-ansi/license
node_modules/wrap-ansi/package.json
node_modules/wrap-ansi/readme.md
node_modules/wrap-ansi/node_modules/ansi-styles/index.d.ts
node_modules/wrap-ansi/node_modules/ansi-styles/index.js
node_modules/wrap-ansi/node_modules/ansi-styles/license
node_modules/wrap-ansi/node_modules/ansi-styles/package.json
node_modules/wrap-ansi/node_modules/ansi-styles/readme.md
node_modules/wrap-ansi-cjs/index.js
node_modules/wrap-ansi-cjs/license
node_modules/wrap-ansi-cjs/package.json
node_modules/wrap-ansi-cjs/readme.md
node_modules/wrap-ansi-cjs/node_modules/ansi-regex/index.d.ts
node_modules/wrap-ansi-cjs/node_modules/ansi-regex/index.js
node_modules/wrap-ansi-cjs/node_modules/ansi-regex/license
node_modules/wrap-ansi-cjs/node_modules/ansi-regex/package.json
node_modules/wrap-ansi-cjs/node_modules/ansi-regex/readme.md
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/index.d.ts
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/index.js
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/license
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/package.json
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/readme.md
node_modules/wrap-ansi-cjs/node_modules/color-convert/CHANGELOG.md
node_modules/wrap-ansi-cjs/node_modules/color-convert/conversions.js
node_modules/wrap-ansi-cjs/node_modules/color-convert/index.js
node_modules/wrap-ansi-cjs/node_modules/color-convert/LICENSE
node_modules/wrap-ansi-cjs/node_modules/color-convert/package.json
node_modules/wrap-ansi-cjs/node_modules/color-convert/README.md
node_modules/wrap-ansi-cjs/node_modules/color-convert/route.js
node_modules/wrap-ansi-cjs/node_modules/color-name/index.js
node_modules/wrap-ansi-cjs/node_modules/color-name/LICENSE
node_modules/wrap-ansi-cjs/node_modules/color-name/package.json
node_modules/wrap-ansi-cjs/node_modules/color-name/README.md
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/index.d.ts
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/index.js
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/package.json
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/README.md
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/text.js
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/es2015/index.js
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/es2015/text.js
node_modules/wrap-ansi-cjs/node_modules/string-width/index.d.ts
node_modules/wrap-ansi-cjs/node_modules/string-width/index.js
node_modules/wrap-ansi-cjs/node_modules/string-width/license
node_modules/wrap-ansi-cjs/node_modules/string-width/package.json
node_modules/wrap-ansi-cjs/node_modules/string-width/readme.md
node_modules/wrap-ansi-cjs/node_modules/strip-ansi/index.d.ts
node_modules/wrap-ansi-cjs/node_modules/strip-ansi/index.js
node_modules/wrap-ansi-cjs/node_modules/strip-ansi/license
node_modules/wrap-ansi-cjs/node_modules/strip-ansi/package.json
node_modules/wrap-ansi-cjs/node_modules/strip-ansi/readme.md
.bin/.DS_Store
.bin/hello
.bin/hello.zip
.bin/world
.bin/world.zip
