name: Deploy Trendly Function

on:
  push:
    branches:
      - master
      - dev

jobs:
  deploy:
    name: Trendly Deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    env:
      # Decide env/stage based on branch
      STAGE: ${{ github.ref == 'refs/heads/master' && 'prod' || 'dev' }}
    
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.2 # Set this to the Go version you're using
      - run: npm i
      - run: go version
      - run: go mod download
      - name: Add Service JSON and Deploy
        env:
          JWT_ENCODE_KEY: ${{ secrets.JWT_ENCODE_KEY }}
          FB_CLIENT_SECRET: ${{ secrets.FB_CLIENT_SECRET }}
          INSTA_CLIENT_SECRET: ${{ secrets.INSTA_CLIENT_SECRET }}
          STREAM_SECRET: ${{ secrets.STREAM_SECRET }}
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          HUBSPOT_API_KEY: ${{ secrets.HUBSPOT_API_KEY }}
          FIREBASE_SERVICE_ACCOUNT_BASE64: ${{ secrets.TRENDLY_SERVICE_ACCOUNT }}
          TRENDLY_KEY_SECRETS_BASE64: ${{ env.STAGE == 'dev' && secrets.TRENDLY_DEV_KEY_SECRETS || secrets.TRENDLY_PROD_KEY_SECRETS }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }} # This uses the secret stored in GitHub
        run: |
          echo $FIREBASE_SERVICE_ACCOUNT_BASE64 | base64 -d > service-account.json
          echo $TRENDLY_KEY_SECRETS_BASE64 | base64 -d > key-secrets.json
          npm run build:trendly
          npx sls deploy --config serverless.trendly.yml --stage ${{ env.STAGE }}